/* Header.css */
.header {
    padding: 20px;
    background-image: radial-gradient( circle 897px at 9% 80.3%,  rgba(55,60,245,1) 0%, rgba(234,161,15,0.90) 100.2% );
    color: white; /* Add this line */
}